.WidgetColumn{
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    color: var(--basicColor);
}
@media only screen and (max-width: 650px) {
    .WidgetColumn{
        padding: 0px;
        margin: 0px;
    }
}