.WidgetItemControls{
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media only screen and (max-width: 650px) {
    .WidgetItemControls{
        width: 100%;
        height: auto;
        top: auto;
        right: auto;
        bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}