button{
  width: 150px;
  height: 30px;
  padding: 8px;
  background-color: #fff;
  color: var(--basicColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button *{
  pointer-events: none;
}
button svg{
  height: 100%;
}
button:hover{
  background-color: var(--activeColor);
}